* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(135deg, #292a30 0%, #41275b 100%);
    min-height: 100vh;
    padding: 20px;
}

